

<div  id="forimg">  <figure  >
 
 <%= image_tag"wall7.jpg" %>
 <%= image_tag"wall.jpg" %>
 <%= image_tag"wall2.jpg"%>
 <%= image_tag "wall5.jpeg" %>
 <%= image_tag"wall5.jpeg" %>
<%= image_tag"wall.jpg"  %>
                </figure>
              </div>  


<div class="panel panel-default" >
   <div class="panel-body">
         <%= image_tag "coffee_plant.png" , id: 'imgcontent', class: 'img-rounded img-responsive pull-left'%>
         <h3 style="text-align: center;">Coffee Plant Care Tips</h3>
  <p style="text-align: center;">Origin , height , humidity , temperature ,  soil , fertilizer , propagation</p> </div>
</div>

<div class="panel panel-default" >
   <div class="panel-body">
      <%= image_tag "fgg.jpg" , id: 'imgcontent', class: 'img-rounded img-responsive pull-left'%>
    
     <h3 style="text-align: center;" > What is the best way to grow a coffee plant?</h3>
  <p style="text-align: center;" >TWhat kind of fertiliser should I use? 
            -How much sunlight should it get? 
-How ......? </p> </div>
</div>

<div class="panel panel-default" >
   <div class="panel-body">
    <%= image_tag "benefits.jpg" , id: 'imgcontent', class: 'img-rounded img-responsive pull-left'%>
     <h3 style="text-align: center;">The Benefits of Coffee: From Your Heart to Your Brain</h3>
  <p style="text-align: center;" >The benefits of coffee are becoming so well established that, for the first time,..... </p> </div>
</div>
             
  
               
         

        





















  



 