      
       <% if isadmin? %>
 <div class="col-md-3 ">
			<ul class="nav nav-pills nav-stacked side">
				<li ><a href="/">Home</a></li>
				<li ><%= link_to "Add Coffeebeans", new_coffeebin_path %></li>
				<li class="active"><%= link_to "Change Price", new_price_path %></li>
				<li><%= link_to "Un-Payed", unpayed_path %></li>
				<li><%= link_to "Payed", payed_path %></li>
				<li><%= link_to "Make user admin", makeadmin_path %></li>
			  <li><%= link_to "Change Profile", edit_user_path(current_user.id)%></li>
			  <li><%= link_to "My Profile", user_path(current_user.id) %></li>
			</ul>
		</div>
		<% elsif logged_in?%>
		<div class="col-md-3 ">
			<ul class="nav nav-pills nav-stacked side ">
				<li ><a href="/">Home</a></li>
				<li class="active"><%= link_to "Un-Payed", unpayedforuser_path %></li>
				<li><%= link_to "Payed", payedforuser_path %></li>
				<li><%= link_to "Change Profile", edit_user_path(current_user.id)%></li>
				<li><%= link_to "My Profile", user_path(current_user.id) %></li>
			</ul>
		</div>
    <% end%>