<!--<%= form_tag mailc_path do %>-->

<!--      <%= email_field_tag :email %>-->

     
<!--      <%= submit_tag "Sign in", class: "btn btn-large btn-primary" %>-->
<!--    <% end %>-->


<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    Contact us <small>Feel free to contact us</small></h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <%= form_tag mailc_path do %>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Name</label>
                            
                            <%= text_field_tag :name , nil,class:"form-control" , placeholder:" Enter your name" ,:required => true%>
                        </div>
                        <div class="form-group">
                            
                            <label for="email">
                                Email Address</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                               
                                <%= email_field_tag :email , nil,class:"form-control" , placeholder:"Enter email" ,:required => true%>
                                </div>
                        </div>
                        <div class="form-group">
                            <label for="subject">
                                Subject</label>
                           <%= select_tag(:subject, options_for_select([['Suggestions', 'Suggestions'], ['Support', 'Support']]) ,class:"form-control" )%>
                       
                        </div>
                       
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Message</label>
                               
                                <%=  text_area_tag(:message ,nil, cols: 25, rows: 9,:required => true,class:"form-control") %>
                            
                        </div>
                    </div>
                    <div class="col-md-12">
                        
                             <%= submit_tag "Send Message", class: "btn btn-large btn-primary pull-right" %>
                                        <% end %>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="col-md-4" style="background-color:white;">
            <form>
            <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend>
            <address>
                <strong>Tumba cws, Inc.</strong><br>
                Kigali, Rwanda Ave, down town<br>
                Kg st 523 kimironko<br>
                <abbr title="Phone">
                    P:</abbr>
                (250) 788-359-150
            </address>
            <address>
                <strong>Web</strong><br>
                <a href="mailto:#">tumbacws.com</a>
            </address>
            </form>
        </div>
    </div>
</div>
