<!DOCTYPE html>
<html>
  <head>
    <title>Coffeews</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <% flash.each do |key, value| %>
      
      <div class="alert alert-danger alert-dismissible bg-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i> Alert!</h4>
               <%= content_tag(:div, value, class: "#{key}") %>
              </div>
    <% end %>
    <!-- <% if logged_in? %>-->
    <!--  <%= link_to "Profile", user_path(current_user.id) %>-->
    <!--  <%= link_to "Logout", session_path(current_user.id), method: :delete %>-->
    <!--<% else %>-->
    <!--  <%= link_to "Sign up", new_user_path %>-->
    <!--  <%= link_to "Login", new_session_path %>-->
    <!--<% end %>-->
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <div class="container">
         <div class="row">
       <div class="col-md-12 " id="header"><%= image_tag "w.png" , id: 'headerimg', class: 'img-responsive'%></div>
        
<div class="col-md-1"><%= image_tag "i.gif"%></div><div class="col-md-10 ">
  <nav class="navbar navbar-inverse bg-light " role="navigation">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "coffee WS", home_path, class:'navbar-brand' %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1" >
      <ul class="nav navbar-nav "  >
        <li class="active"><%= link_to "Home", home_path , class:'pull-right hidden-xs showopacity glyphicon glyphicon-home' %></li>
       
        <li><%= link_to "About_Us", about_us_path , class:'pull-right showopacity glyphicon glyphicon-' %></li>
         <li><%= link_to "Contact_Us", contact_us_path , class:'pull-right  showopacity glyphicon glyphicon-envelope' %></li>
          <% if logged_in? %>
      <li><%= link_to "Profile", user_path(current_user.id), class:'pull-right hidden-xs  glyphicon glyphicon-user' %></li>
     <li ><a style= "color:white;font-size: 2rem;;"><%=  current_user.name.upcase.truncate(10, separator: /\s/) %></a></li>
      
        <%= image_tag current_user.image_url , id: 'profilimg', class: 'img-responsive img-circle '%>
         </ul>
        <ul class="nav navbar-nav pull-right">
           <li><%= link_to "Logout", session_path(current_user.id), method: :delete ,class:'  showopacity glyphicon glyphicon-log-out' %> </li>
        </ul>
         

        
        
         <% else %>
          <li ><%= link_to "Sign up", new_user_path %><span style="font-size:16px;" class="pull-right hidden-xs showopacity "></span></a></li>
        
               </ul>
        <ul class="nav navbar-nav pull-right">
           <li  data-toggle="modal" data-target="#myModal" ><a>Login<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-log-in"></span></a></li>
        </ul>
      <!--<%= link_to "Sign up", new_user_path %>-->
      <!--<%= link_to "Login", new_session_path %>-->
    <% end %>
    </div>
  </div>
</nav></div>
<div class="col-md-1"><%= image_tag "i.gif"%></div>

</div>



 

 
 
    <%= yield %>
    
    <div class="col-md-12 footer">
          
      <p>© Tumba cws 2018  developed by: JULES All RIGHTS RESERVED.</p>
   
 </div></div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
   
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
           
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Sign In</div>
                        <!-- <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div> -->
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            
                        <!--<form id="loginform" class="form-horizontal" role="form">-->
                                      <%= form_with(scope: :session, url: sessions_path) do |f| %>
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <!--<input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username or email"> -->
                                          <%= f.email_field :email ,class: 'form-control', placeholder: 'User name ' %>
                                    </div>
                                
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <!--<input id="login-password" type="password" class="form-control" name="password" placeholder="password">-->
                                     <%= f.password_field :password  ,class: 'form-control', placeholder: 'User name' %>
                                    </div>
                                    

                           
                                              
                                               
                                              
                                            
                                               
                                              
                                            
                          


                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls ">
                                        <%= f.submit "Log in" , id: 'btn-login', class:'btn btn-success',:style => 'margin-bottom: 10px;'%>
                                              <% end %>
                                     
                                    </div>
                                </div>
                                
                                


                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                            Don't have an account! 
                                        <a href="register.html" >
                                            Sign Up Here
                                        </a>
                                        </div>
                                    </div>
                                </div>    
                            <!--</form>     -->



                        </div>                     
                    </div>  
        <!-- </div> -->
        
       
      </div>
    </div>
  </div>
  
    
    
    
    
    
    
    
    
    
    
    
  </body>
</html>
